@use './variables' as *;

@mixin textInput {
 input[type='text'] {
  background: none;
  border: none;
  outline: none;
  box-shadow: $dark_shadow;
  border-radius: $light_border_radius;
  padding: .8rem 1rem;
  font-size: calc(.5rem + 1.2vmin);
 }
}

@mixin numberInput {
 input[type='number'] {
  background: none;
  border: none;
  outline: none;
  box-shadow: $dark_shadow;
  border-radius: $light_border_radius;
  padding: .8rem 1rem;
  font-size: calc(.5rem + 1.2vmin);
 }
}

@mixin fileInput {
 input[type="file"] {
  @include textInput;
  height: max-content;
  padding: .5rem 0 .5rem .5rem;
  border-radius: 5px;
  background-color: $white;
  cursor: pointer;
  background-color: $clr_green_light;
 }
}

@mixin buttonBasic {

 background-color: #fff;
 border: 1px solid #d5d9d9;
 border-radius: $light_border_radius;
 box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
 cursor: pointer;
 font-size: 13px;
 line-height: 29px;
 padding: 0 10px 0 11px;
 text-align: center;
 transition: $transition;

 &:hover {
  background-color: #f7fafa;
 }

 &:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
 }

}