@use '../../variables' as *;
@use '../../mixins' as *;

.products {
 width: 100vw;
 color: $black;

 .products-container {
  width: 85%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  color: $black;

  .heading {
   font-size: calc(10px + 2vmin);
   font-weight: 500;
   text-transform: capitalize;
   position: relative;
   width: fit-content;

   &::after {
    content: '';
    height: 1.5px;
    width: 100%;
    background-color: $clr_grey_5;
    position: absolute;
    left: 0;
    bottom: -8%;
   }
  }

  p {
   padding-top: 1rem;
   font-size: calc(5px + 1.2vmin);
   position: relative;
   width: fit-content;
   font-weight: 500;

   &::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: $clr_grey_5;
    position: absolute;
    left: 0;
    bottom: 0;
   }
  }

  .brands {
   width: 100%;
   margin: 0 auto;
   padding: .6rem 0;
   display: flex;
   align-items: center;
   gap: 1rem;

   a {
    color: $black;
    background-color: $clr_grey_9;
    padding: .4rem 1rem;
    border-radius: $light_border_radius;
    font-weight: 500;
    font-size: calc(5px + 1.4vmin);

    &:hover {
     background-color: $clr_grey_8;
    }

    &:active {
     background-color: $clr_grey_5;
    }
   }

   .clearBtn {
    background-color: #f0d8d8;

    &:hover {
     background-color: #f5caca;
    }

    &:active {
     background-color: #f1adad;
    }
   }
  }

  .products-list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   margin-top: 2rem;
   height: calc(22rem + 5vmin);

   a {
    width: 100%;
    height: 100%;
    background-color: $clr_grey_10;
    color: $black;
    border: 1px solid $clr_grey_10;
    border-radius: $light_border_radius;

    &:hover {
     background-color: $clr_grey_9;
     border: 1px solid $clr_grey_9;

     .image {
      img {
       scale: 1.05;
      }
     }
    }

    &:active {
     background-color: $clr_grey_7;
     border: 1px solid $clr_grey_7;
    }

    .image {
     width: 100%;
     height: 70%;
     overflow: hidden;

     img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: $transition;
     }
    }

    .content {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: .5rem .8rem;
     gap: .2rem;

     .productName {
      font-size: calc(3px + 1.5vmin);
      font-weight: 500;
     }

     .price {
      display: flex;
      align-items: center;
      gap: .5rem;

      .productPrice {
       font-size: calc(1px + 1.3vmin);
       color: $clr_grey_5;
       text-decoration: line-through red;
      }

      .specialPrice {
       font-size: calc(1px + 1.3vmin);
       font-weight: 500;
       text-decoration: underline green;
      }
     }

     .productPrice {
      font-size: calc(1px + 1.1vmin);
      text-decoration: line-through red;
     }

     .specialPrice {
      font-size: calc(1px + 1.3vmin);
      font-weight: 500;
      text-decoration: underline green;
     }

     .brandName {
      font-size: calc(2px + 1vmin);
      padding: .2rem .5rem;
      background-color: $clr_green_light;
      border-radius: $light_border_radius;
      margin-top: 5px;
     }
    }
   }
  }
 }
}

.details-container {
 width: 85vw;
 margin: 0 auto;
 display: flex;
 align-items: flex-start;
 gap: 2rem;
 flex-direction: column;
 color: $black;
 margin-top: 2.5rem;

 .main-details {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  padding: .5rem;
  justify-content: space-evenly;
  border: 2px solid $clr_grey_9;
  background-color: $clr_grey_10;

  .swiper {
   flex: .25;
   height: 100%;
   margin: auto 0;
   width: 25rem;
   padding: 1rem 0;
   height: 100%;
   z-index: 0;
   background-color: $white;

   .swiper-btn-next {
    position: absolute;
    right: -20%;
   }

   .swiper-btn-prev {
    color: red;
   }

   img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
  }

  .key-details {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: .5rem;
   flex: .55;
   width: 100%;

   .heading {
    width: 100%;
    font-size: calc(5px + 2vmin);
    font-weight: 600;
    position: relative;

    &::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     background-color: $clr_grey_4;
     height: 1px;
     width: 100%;
    }
   }

   .details-list {
    width: 100%;

    .name {
     font-size: calc(4px + 1.8vmin);
     font-weight: 500;
     padding: .5rem 0;
     color: $blue;
    }

    li {
     width: 100%;
     display: flex;
     align-items: center;

     h5 {
      font-size: calc(2px + 1.5vmin);
      font-weight: 600;
      width: 30%;
      padding: .4rem 0;
     }

     span {
      font-size: calc(2px + 1.5vmin);
     }
    }

    :nth-child(2),
    :nth-child(3) {
     span {
      color: $blue;
     }
    }
   }

   .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;

    button {
     width: calc(25px + 2vmin);
     height: calc(25px + 2vmin);
     border: none;
     background: none;
     background-color: $grey;
     cursor: pointer;
    }

    p {
     text-align: center;
     width: calc(25px + 2vmin);
     font-size: calc(2px + 1.5vmin)
    }
   }

   .addToCart {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: $blue;
    padding: (calc(.2rem + 1.2vmin) calc(1rem + 2vmin));
    border: none;
    color: $white;
    font-size: calc(3px + 1.4vmin);
    cursor: pointer;
   }
  }
 }

 .specifications {
  width: 100%;
  margin-top: 2rem;

  h6 {
   font-size: calc(5px + 2vmin);
   font-weight: 600;
   position: relative;
   margin-bottom: 1rem;

   &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $clr_grey_4;
    height: 1px;
    width: 100%;
   }
  }

  .specifications-list {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: .3rem;
   width: 100%;

   li:nth-child(odd) {
    background-color: $clr_grey_9;
   }

   li {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0.5rem;

    &:hover {
     background-color: $clr_grey_10;
     cursor: text;
    }

    span {
     font-size: calc(3px + 1.8vmin);

     &:nth-child(1) {
      font-weight: 600;
     }

     &:nth-child(2) {
      font-weight: 400;
     }
    }
   }
  }
 }
}